In [2]:
import pandas as pd

data = pd.read_csv('../heart.csv')

data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
data.shape

(918, 12)

In [4]:
data.info()
data.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

May need to use encoding for categorical variables

In [5]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

- Cholestrol and RestingBP having a zero minimum - missing or invalid data?
- Heart Disease has a mean of 0.55 indicating about 55% of patients have heart disease.
- Oldpeak has a wide range

In [6]:
data["Sex"].value_counts()

Sex
M    725
F    193
Name: count, dtype: int64

In [7]:
crossTab = pd.crosstab(data['Sex'], data['HeartDisease'])
crossTab

HeartDisease    0    1
Sex
F             143   50
M             267  458

- Gender imbalance in dataset, more male than female patients.
- Suggests heart disease is moreprevalent in men

In [8]:
data["ChestPainType"].value_counts()

ChestPainType
ASY    496
NAP    203
ATA    173
TA      46
Name: count, dtype: int64

In [9]:
crossTab = pd.crosstab(data['ChestPainType'], data['HeartDisease'])
crossTab

HeartDisease     0    1
ChestPainType
ASY            104  392
ATA            149   24
NAP            131   72
TA              26   20

- Asymptotic is the most common chest pain type - most people with it have eart disease
- Atypical Agina chest pains are mostly seen in patients without heart disease

In [10]:
data["RestingECG"].value_counts()

RestingECG
Normal    552
LVH       188
ST        178
Name: count, dtype: int64

In [11]:
crossTab = pd.crosstab(data['RestingECG'], data['HeartDisease'])
crossTab

HeartDisease    0    1
RestingECG
LVH            82  106
Normal        267  285
ST             61  117

- Most pattients have a Normal resting ECG - evenly split - less predictive on own
- LVH and ST categories are more associated with heart disease

In [12]:
data["ExerciseAngina"].value_counts()

ExerciseAngina
N    547
Y    371
Name: count, dtype: int64

In [13]:
crossTab = pd.crosstab(data['ExerciseAngina'], data['HeartDisease'])
crossTab

HeartDisease      0    1
ExerciseAngina
N               355  192
Y                55  316

- Most patients do not experience exercise-indiced agina
- A large majority of people who do experience exercise-induced agina have heart disease
- Strong association between exercise-induced agina and the precense of heart disease

In [14]:
data["ST_Slope"].value_counts()

ST_Slope
Flat    460
Up      395
Down     63
Name: count, dtype: int64

In [15]:
crossTab = pd.crosstab(data['ST_Slope'], data['HeartDisease'])
crossTab

HeartDisease    0    1
ST_Slope
Down           14   49
Flat           79  381
Up            317   78

- Flat is the most common ST slope type
- Most patients with a flat or down slope have heart disease - in particular flat